{{#extend "base"}}
{{#content "main" mode="append"}}
<section>
    <ul class="cards">
        {{#each projects}}
        <li class="card">
            <a href="{{this.link}}"><img src="{{this.img}}" alt="{{this.name}}"></a>
            <div class="text">
                <h4>{{this.category}}</h4>
                <p>{{{this.description}}}</p>
                <h4>{{{this.year}}}</h4>
            </div>
        </li>
        {{/each}}
    </ul>
</section>
{{/content}}
{{/extend}}
