{{#extend "base"}}
{{#content "main" mode="append"}}
<section>
    <article class="content">
        <h3>Photography</h3>
        <p>I am an (extremely) ameteur photographer, but I enjoy the ritual of framing and taking photos when I travel.</p>
    </article>
</section>
{{#each photography.sets}}
<section>
    <article class="content">
        <h5>{{this.title}}</h5>
        <p>{{{this.description}}}</p>
    </article>
    <ul class="cards">
        {{#each this.images}}
        <li class="card">
            <a href="{{../../photography.prefix}}{{../../photography.sizes.large}}/{{this.name}}">
                <figure class="progressive-image"
                        data-small="{{../../photography.prefix}}{{../../photography.sizes.small}}/{{this.name}}"
                        data-medium="{{../../photography.prefix}}{{../../photography.sizes.medium}}/{{this.name}}"
                        data-large="{{../../photography.prefix}}{{../../photography.sizes.large}}/{{this.name}}">
                    <div class="aspect-ratio-holder" style="padding-bottom: {{aspectRatioAsPaddingPercent this.aspectRatio}}"></div>
                    <img class="thumbnail" src="{{../../photography.prefix}}{{../../photography.sizes.thumbnail}}/{{this.name}}" alt="">
                </figure>
            </a>
        </li>
        {{/each}}
    </ul>
</section>
{{/each}}
<script type="text/javascript" src="/js/progressive-image.js"></script>
<script type="text/javascript">
    var figures = document.getElementsByClassName('progressive-image');
    for (var i = 0; i < figures.length; i++) {
        new ProgressiveImage(figures[i]);
    }
</script>
{{/content}}
{{/extend}}
